node_modules/nice-napi/build/Release/nothing.a
node_modules/nice-napi/build/Release/.deps/Release/nice_napi.node.d
node_modules/nice-napi/build/Release/.deps/Release/nothing.a.d
node_modules/nice-napi/build/Release/.deps/Release/obj.target/nice_napi/binding.o.d
node_modules/nice-napi/build/Release/.deps/Release/obj.target/nothing/node_modules/node-addon-api/nothing.o.d
node_modules/nice-napi/build/Release/obj.target/nice_napi/binding.o
node_modules/nice-napi/build/Release/obj.target/nothing/node_modules/node-addon-api/nothing.o
node_modules/nice-napi/node_modules/node-addon-api/CHANGELOG.md
node_modules/nice-napi/node_modules/node-addon-api/common.gypi
node_modules/nice-napi/node_modules/node-addon-api/except.gypi
node_modules/nice-napi/node_modules/node-addon-api/index.js
node_modules/nice-napi/node_modules/node-addon-api/LICENSE.md
node_modules/nice-napi/node_modules/node-addon-api/napi-inl.deprecated.h
node_modules/nice-napi/node_modules/node-addon-api/napi-inl.h
node_modules/nice-napi/node_modules/node-addon-api/napi.h
node_modules/nice-napi/node_modules/node-addon-api/node_api.gyp
node_modules/nice-napi/node_modules/node-addon-api/noexcept.gypi
node_modules/nice-napi/node_modules/node-addon-api/nothing.c
node_modules/nice-napi/node_modules/node-addon-api/package-support.json
node_modules/nice-napi/node_modules/node-addon-api/package.json
node_modules/nice-napi/node_modules/node-addon-api/README.md
node_modules/nice-napi/node_modules/node-addon-api/tools/check-napi.js
node_modules/nice-napi/node_modules/node-addon-api/tools/clang-format.js
node_modules/nice-napi/node_modules/node-addon-api/tools/conversion.js
node_modules/nice-napi/node_modules/node-addon-api/tools/README.md
node_modules/nice-napi/prebuilds/darwin-x64/node.napi.node
node_modules/nice-napi/prebuilds/linux-x64/node.napi.node
node_modules/nice-napi/v8_enable_pointer_compression=false/build/config.gypi
node_modules/node-gyp-build/bin.js
node_modules/node-gyp-build/build-test.js
node_modules/node-gyp-build/index.js
node_modules/node-gyp-build/LICENSE
node_modules/node-gyp-build/node-gyp-build.js
node_modules/node-gyp-build/optional.js
node_modules/node-gyp-build/package.json
node_modules/node-gyp-build/README.md
